<%= simple_form_for @user, authenticity_token: false do |f| %>
<p>
  <strong>Name:</strong>
  <%= @user.full_name %>
</p>
<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address_line_1 %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @user.dob %>
</p>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Account number from:    </th>
            <th>Account number to:    </th>
            <th>Amount of pennies:    </th>
            <th>Sending country code:    </th>
            <th>Receiving country code:    </th>
          </tr>
        </thead>

        <tbody>
          <% @user.transfers.each do |transfer| %>
              <tr>
                <td><%= transfer.account_number_to %></td>
                <td><%= transfer.account_number_to %></td>
                <td><%= transfer.amount_pennies %></td>
                <td><%= transfer.country_code_from %></td>
                <td><%= transfer.country_code_to %></td>
              </tr>
          <% end %>
        </tbody>


      </table>


<% end %>
